//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ff7730;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// Add tertiary colors if needed
$color-black: #000;
$color-white: #fff;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font 
$default-font-size: 1.6rem;
