.heading-primary{
    //color: $color-white;
    //text-transform: uppercase;
    //
    //backface-visibility: hidden;

    //margin-bottom: 6rem;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    //color: $color-grey-dark; //default body color
    padding: 3rem;
}
